body.dark-mode {
    background-color: #333;
    color: white;
}

body.light-mode {
    background-color: #f5f5dc; /* Cereal or pale white color */
    color: black;
}

#book-container {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: #444;
    opacity: 0;
    visibility: hidden; /* Initially hidden */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.navigation:hover,
.navigation:focus-within {
    opacity: 1;
    visibility: visible;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

button:hover, button:focus {
    background-color: #555;
}

.icon {
    font-size: 24px;
}

#current-page {
    font-size: 24px;
    color: white;
}
